#divIndiceLista .scoCompletado a {
    background: url("../img/comunes/tick_menu.svg") no-repeat scroll 97% 50%;
    background-size: 25px 18px;
}
.icono.sabiasQue .divFondo {
    background-image: url('../img/comunes/sabiasQue.svg');
    background-size: auto 80px;
    background-position: 50% 8px;
}
.icono.definicion .divFondo{
    background-image: url('../img/comunes/definicion.svg');
    background-size: auto 50px;
    background-position: 50% 25px;
}
.icono.exclamacion .divFondo{
    background-image: url('../img/comunes/exclamacion.svg');
    background-size: auto 80px;
    background-position: 50% 8px;
}
.icono.exclamacion.blanca .divFondo, 
.icono.exclamacion.picos .divFondo {
    background-image: url('../img/comunes/exclamacionBlanca.svg');
}
.listaObjetos.columna.amarillo{background-color:#fcfbc4; padding-bottom:1em !important}
.listaObjetos.columna.rojo{background-color:#fcc4c4; padding-bottom:1em !important}
.imgIndice{margin-right: 0.2em; vertical-align:middle;}
#autoevalTabla .subevalTabla {
    padding: 10px;
    margin: 20px;
}

